@model School_AppIn_Model.DataAccessLayer.Student_Other_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student_Other_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification_Mark1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification_Mark1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification_Mark2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification_Mark2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Allergic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Allergic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergy_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergy_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Father_Occupation_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Father_Occupation_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Father_Annual_Income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Father_Annual_Income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mother_Occupation_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mother_Occupation_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mother_Annual_Income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mother_Annual_Income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages_Known)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages_Known)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Second_Language_Opted_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Second_Language_Opted_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birth_Certificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth_Certificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Upload_Document1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upload_Document1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpLoad_Document2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpLoad_Document2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Academic_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Academic_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted_By)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentDetail_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
