@model IEnumerable<School_AppIn_Model.DataAccessLayer.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<!-- Basic datatable -->
<br />
<div class="panel panel-flat">
    <div class="panel-heading">
        <h2>Index</h2><br />
        <h5 class="panel-title">Student Details</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                @*<li><a data-action="close"></a></li>*@
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <span class="glyphicon"></span>
            Add Student
        </a>
    </div>
    <br />
    <table id="tblStudents" class="table datatable-show-all">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Student Image")
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roll_No)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section_Id)
                </th>

                @*<th>
                    @Html.DisplayNameFor(model => model.Created_By)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created_On)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated_On)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated_By)
                </th>*@

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    @if (@item.Photo != null)
                    {
                        <td>
                            <img height="50" width="50" id="1" data-toggle="modal" data-target="#myModal" src="data:image;base64,@System.Convert.ToBase64String(@item.Photo)" alt='Text dollar code part one.' />

                        </td>
                    }
                    else
                    {
                        <td>No image</td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.First_Name)
                        @Html.DisplayFor(modelItem => item.Middle_Name)
                        @Html.DisplayFor(modelItem => item.Last_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roll_No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FClass.Class_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSection.Section_Name)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Created_By)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_On)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated_On)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated_By)
                    </td>*@

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Student_Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Student_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Student_Id })
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-responsive" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#tblStudents').dataTable({
        });



    </script>
    <script>
        $(document).ready(function () {
            $('img').on('click', function () {
                var image = $(this).attr('src');
                $('#myModal').on('show.bs.modal', function () {
                    $(".img-responsive").attr("src", image);
                });
            });
        });
    </script>
}
