@model School_AppIn_Model.DataAccessLayer.Student_Prev_School_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student_Prev_School_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_School_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_School_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_School_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_School_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Academic_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Academic_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leaving_Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leaving_Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Upload_Document1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upload_Document1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Upload_Document2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upload_Document2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_PrevSchool_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
