@model IEnumerable<School_AppIn_Model.DataAccessLayer.Student_Prev_School_Details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other_School_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other_School_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Academic_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_On)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_On)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leaving_Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upload_Document1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upload_Document2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other_School_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other_School_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Academic_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_On)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_On)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leaving_Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Upload_Document1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Upload_Document2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Student_PrevSchool_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Student_PrevSchool_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Student_PrevSchool_Id })
        </td>
    </tr>
}

</table>
