@using MvcSiteMapProvider.Web.Html;
@using School_AppIn.Helpers;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<section class="content-header">
    <h1>
        Role
        <small>Create</small>
    </h1>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">

            <h2>Create Role</h2>
            @Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div>
                    Role name
                </div>
                <p>
                    <div class="form-group">@Html.TextBox("UserName", null, new { @class = "form-control" })</div>

                </p>
                <button type="submit" class="btn btn-primary" >Save</button>
            }
            </div>
        </div>
        </section>

